@import "tailwindcss";

@theme inline {
  --color-chart-peak-bg: #fff7d6;
  --color-chart-peak-text: #d97706;
  --color-chart-sales-bg: #fff7d6;
  --color-chart-sales-text: #7e3d01;
  --color-chart-streams-bg: #f0ffe0;
  --color-chart-streams-text: #274f13;
  --color-chart-airplay-bg: #cdecff;
  --color-chart-airplay-text: #024da0;
  --color-chart-units-bg: #eddcfe;
  --color-chart-units-text: #721a46;
}

body {
  background-color: #ffffff;
  color: #171717;
}
